/* Empty. Add your own CSS if you like */
/*.rijnijssel-primary{
    background-color: #ff5800;
    color: white;
}
.rijnijssel-accent{
    background-color:#4b08a1;
    color: white;
}
.rijnijssel-border{
    border-color: #4b08a1 !important;
    color: #4b08a1 !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #4b08a1 !important;
}*/