<ion-view view-title="Scrumlog {{vm.scrumDate | date: 'dd-MM-yyyy'}}" cache-view="false">
    <ion-content> 
        <div class="list">
            <div class="padding">
                <h4>
                    Wat heb je de vorige werkdag gedaan?
                </h4>
                <p>
                    {{scrumlog.Input_Yesterday}}
                </p>
            </div>
            <div class="padding">
                <h4>
                    Welke problemen ben je tegengekomen?
                </h4>
                <p>
                    {{scrumlog.Input_Problems}}
                </p>
            </div>
            <div class="padding">
                <h4>
                    Wat ga je vandaag doen?
                </h4>
                <p>
                    {{scrumlog.Input_Today}}
                </p>
            </div>     
            <div class="padding">
                <h4>
                    Waar heb je hulp/instructie bij nodig?
                </h4>
                <p>
                    {{scrumlog.Input_Help}}
                </p>
            </div>  
            <div class="padding">
                <h4>
                   Docent: 
                </h4>
                <p>
                    {{scrumlog.Radio_Help}}
                </p>
            </div> 
        </div>
    </ion-content>
</ion-view>