<ion-view view-title="Scrumlog {{vm.date | date: 'dd-MM-yyyy'}}">
    <ion-content> 
        <div class="list">
            <div class="padding">
                <h4>
                    Wat heb je de vorige werkdag gedaan?
                </h4>
                <p>
                    {{vm.scrumlog}}
                </p>
            </div>
            <div class="padding">
                <h4>
                    Wat heb je de vorige werkdag gedaan?
                </h4>
                <p>
                    {{vm.text}}
                </p>
            </div>
            <div class="padding">
                <h4>
                    Wat heb je de vorige werkdag gedaan?
                </h4>
                <p>
                    {{vm.text}}
                </p>
            </div>       
        </div>
    </ion-content>
</ion-view>