<ion-view view-title="Inzien scrumlog" cache-view="false">
    <div class="row row-center">
        <ion-content class="rainbow">
            <div class="app-container">
                <label class="item item-input app-input">
                <span class="input-label">Datum</span>
                <input type="date" ng-model="selectedDate">
            </label>
                <button class="button button-block button-energized" ng-click="getScrumlogStudent(selectedDate)">
                     Bekijk scrumlog
            </button>

                <ion-list ng-repeat="s in latestScrumlogs">
                    <ion-item ui-sref="tab.scrumlog({scrumlog: s})">
                        {{s.Date | date : 'dd-MM-yyyy'}}
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </div>
</ion-view>