<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-show="student">

    <!-- Submit-scrumlog Tab-->
    <ion-tab title="Invullen scrumlog" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ui-sref="tab.submit-scrumlog">
        <ion-nav-view name="tab-submit-scrumlog"></ion-nav-view>
    </ion-tab>

    <!-- Review-scrumlog Tab-->
    <ion-tab title="Inzien scrumlog" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.review-scrumlog">
        <ion-nav-view name="tab-review-scrumlog"></ion-nav-view>
    </ion-tab>
    <!--Logout tab-->
    <ion-tab title="Uitloggen" icon-off="ion-log-out" icon-on="ion-log-out" ng-click="showConfirm()">    
    </ion-tab>

<!--Teacher tabs-->
</ion-tabs>
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-hide="student">
    <!-- Reviewt-scrumlog Tab-->
    <ion-tab title="Inzien scrumlog" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.review-scrumlog-teacher">
        <ion-nav-view name="tab-review-scrumlog-teacher"></ion-nav-view>
    </ion-tab>
</ion-tabs>
