<ion-view view-title="todo">
    <ion-content>
        <h4>Student</h4> {{todo.Firstname}} {{todo.Infix}} {{todo.Lastname}}
        <h4>Vraag</h4> {{todo.Input_Help}}
        <!--<h4>Commentaar</h4> {{todo.Remark}}-->
        <label class="item item-input item-floating-label">
            <span class="input-label">Commentaar</span>
            <textarea placeholder="Commentaar" ng-model="comment.text">
            </textarea>
        </label>
        <label class="item item-input item-select">
	            <div class="input-label">
	                Docent
	            </div>
	            <select ng-options="teacher.Teacher_ID as teacher.Firstname + ' ' + teacher.Lastname for teacher in teachers"
	             ng-model="comment.teacher" name="teacher" required>
	            </select>
	        </label>
        <button class="button button-outline button-energized button-block" ng-click="submitComment()">
            Doorgeven aan andere docent
        </button>
        <button class="button button-balanced button-outline button-block" ng-click="complete(todo)">Voltooien</button>
    </ion-content>
</ion-view>