<ion-view view-title="todo">
    <ion-content>
        <h4>Student</h4> {{todo.Firstname}} {{todo.Infix}} {{todo.Lastname}}
        <h4>Vraag</h4> {{todo.Input_Help}}
        <!--<h4>Commentaar</h4> {{todo.Remark}}-->
        <label class="item item-input item-floating-label">
            <span class="input-label">Commentaar</span>
            <textarea placeholder="Commentaar" ng-model="comment.text">
            </textarea>
        </label>
        <button class="button button-positive button-block" ui-sref="tab-teacher.comment({comment: comment.text, id: todo.Scrumlog_ID})">
            Pass to other teacher
        </button>
        <button class="button button-balanced button-block" ng-click="complete(todo)">Voltooien</button>
    </ion-content>
</ion-view>