<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Weet je zeker dat je uit wilt loggen?</h1>
    </ion-header-bar>
    <ion-content>
       
        <div class="list">
            <button type="button" class="button button-positive button-block"
                   ng-click="logout()">
                Uitloggen
            </button>
            <button type="button" class="button button-assertive button-block"
                    ng-click="closeModal()">
                Annuleren
            </button>
        </div>
    </ion-content>
</ion-modal-view>